[user]
	name = Michael Heaton
	email = michael@heatons.me
[credential "https://github.com"]
	helper =
	helper = !GH_USER=MichaelHeaton {{ if eq .chezmoi.arch "arm64" }}/opt/homebrew{{ else }}/usr/local{{ end }}/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !GH_USER=MichaelHeaton {{ if eq .chezmoi.arch "arm64" }}/opt/homebrew{{ else }}/usr/local{{ end }}/bin/gh auth git-credential
