data:
  workstation_profile: "{{ workstation_profile }}"
  adobe_username: "{{ adobe_username | default(ansible_facts['user_id']) }}"
  full_name: "{{ full_name | default('') }}"
  email: "{{ adobe_email | default('') }}"
